.fixtureContainer{
        width: 95%;
        margin-top: 30px;
        margin-left: 30px;
        max-height: 480px; /* Set the maximum height as per your requirement */
        overflow-y: auto; /* Add a vertical scroll bar if the content overflows */
}