body {
    width: 100%;
    height: 100%;
}


.ForgetPasswordInput.error {
    border: 1px solid red;
}

.ForgetPasswordInput.success {
    border: 1px solid greenyellow;
}





.ForgetPasswordPage {
    width: 100%;
    height: 99vh;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 75%;
    overflow: hidden;

}

.ForgetPasswordDetails {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}

.ForgetPasswordLink {
    margin-left: 40%;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #0075E1;
}

.ForgetPasswordLink:hover {
    color: rgba(0,117,225,0.7);
}


.ant-row {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgetPasswordHeading {
    color: #666666;
    margin-top: 20%;
    margin-bottom:10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.ForgetPasswordInput {
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    background-color: white;
    
}

.LoginLabel {
    margin-bottom: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #666666;
}


.ant-btn  {
    margin-top: 5%;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: semi-bold;
    margin-bottom:75%;
}


.copyright {
    position: absolute;
    bottom: 0;
    font-size: 13px;
}

.ForgetPasswordSubTitle {
    margin-top: 5%;
    margin-bottom: 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #5A5A5A;
    text-align: center;
    font-weight: 100;
}

.ForgetPasswordText {
    margin-top: 5%;
    margin-bottom: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-weight: 100;
}