body {
    width: 100%;
    height: 100%;
}


/* Login.css */

.LoginInput.error {
    border: 1px solid red;
}

.LoginInput.success {
    border: 1px solid greenyellow;
}

.custom-messag {
    font-size: 20px !important;
    /* Custom font size */
    color: red !important;
    /* Custom text color */
    background-color: #fff4f4 !important;
    /* Custom background color */
    border: 3px solid red !important;
    /* Custom border color */
    padding: 10px !important;
    /* Custom padding */
    border-radius: 100px !important;
    /* Custom border radius */
    font-weight: bold;
    width: 800px;
    margin: 0 auto;
}

.custom-message-succes {
    font-size: 20px !important;
    /* Custom font size for success messages */
    color: green !important;
    /* Custom text color for success messages */
    background-color: #f6ffed !important;
    /* Custom background color for success messages */
    border: 3px solid green !important;
    /* Custom border color for success messages */
    padding: 10px !important;
    /* Custom padding for success messages */
    border-radius: 100px !important;
    /* Custom border radius for success messages */
    font-weight: bold;
    width: 800px;
    margin: 0 auto;
}


.LoginPage {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 75%;
    overflow: hidden;

}

.LoginDetails {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 98vh;
    
}

.ant-row {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginHeading {
    color: #666666;
    margin-bottom: 40%;
    margin-top: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

.LoginInput {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    background-color: white;

}

.LoginLabel {
    /*margin-bottom: -10px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666666;
}


.ant-btn {
    /*margin-top: 5%;*/
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: semi-bold;

}

.LoginLink {
    /*margin-top: -5px;*/
    font-family: 'Roboto ', sans-serif;
    font-size: 14px;
    color: #0075E1;
    font-weight: semi-bold;
}

.copyright {
    position: absolute;
    bottom: 0;
    font-size: 13px;
}