.assignBtn:disabled{
    background-color:#1677ff;
    color:white;
}
.ant-table-thead > tr > th {
    background-color: #f0f0f0; /* Set the background color */
    color: blue; /* Set the text color */
  }