body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


.CreateEventForm {
  width: 80%;
  margin: auto;
  max-width: 800px;
}

.ant-form-item-control {
    width: calc(100% - 120px);
}

.ant-form-item-label {
    width: 120px; 
    margin-left: 100px;
}

.CreateEventFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022C3B;
  margin: 0;
  padding: 10px;
}

.CreateEventFormHeader h3 {
  color: #e0f7ff;
  margin: 0;
  flex: 1; 
  text-align: center;
}

.CreateEventFormApplication {
  max-height: 500px; 
  overflow-y: auto; 
  border: 1px solid #e0f7ff;
  border-radius: 4px;
  background-color: #D6F5FF;
  color: #022C3B;
  font-weight: 500;
  max-width: 800px;
  margin: auto;
  display: flex;
    flex-direction: column;
    gap: 10px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px;
  padding-left: 25px;
  padding-right: 25px;
  color: #022C3B;
}

.buttonSet {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.CreateEventBTn {
  margin-top: 30px;
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
  padding: 7px 16px 7px 16px;
  border-radius: 5px;
  border: none;
  width: 150px !important;
}

.CreateEventBTn:hover {
  cursor: pointer !important;
}

.UserApplicationIcon {
  margin-right: 10px;
}


.InputData {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.DataIem {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.DataIem > label {
    flex: 1;
}

.DataIem > input {
    flex: 2.5;
}

.DataItemTeamsLabel {
    flex: 1;

}

.DataItemTeamsInput {
    flex: 2.5;
}

.DataIem > .ant-picker{
  flex: 2.5;
}
