body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.ant-layout-sider-children {
  background-color: #022c3b;
}

.welcome {
  color: #e0f7ff;
  font-size: 18px;
  text-align: center;
  height: 51px;
  background-color: #022c3b;
  border-bottom: 1px solid #e0f7ff;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// menu text
.ant-menu-title-content {
}

.ant-layout-header {
  padding: 0;
  background-color: #022c3b;
}

.ant-menu-item {
  color: #e0f7ff;
  background-color: #022c3b;
}

.trigger-button {
  border-radius: 0px;
  color: #022c3b;
  background-color: #e0f7ff;
}

.trigger-button:hover {
  border-radius: 0px;
  color: #022c3b;
  background-color: #e0f7ff;
}

.title {
  position: relative;
  color: #e0f7ff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.trigger-button:hover {
  background-color: red;
}

// dashboard icon


.ant-menu {
  background-color: #022c3b;
}


.title_bar {
  color: #e0f7ff;
  font-size: 16px;
  font-weight: 500;
  background-color: #1e5c72;
  width: 100%;
  height: 50px;
  padding-left: 25px;
}

.menuTitle {
  width: auto;
  margin-left: 50px;
}

.ant-layout-content {
  background-color: red;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  height:64px;
  font-size: 16px;
  color: #e0f7ff;
  margin-right: 30px;
  background-color: #1e5c72;
  width: 100%;
  padding-left: 25px;
  cursor: pointer;
}

.notificaiton {
position: Absolute;
right: 30px; 
}
.emailCommunication {
  position: Absolute;
  right: 80px;
  font-size: 22px;
  color: #e0f7ff;
  cursor: pointer;
}

/*User Application*/

.UserApplicationForm {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.ant-form-item-control {
    width: calc(100% - 120px); /* Adjust the width as needed */
}

.ant-form-item-label {
    width: 120px; /* Adjust the width as needed */
    margin-left: 100px;
}


.UserApplicationFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022C3B;
  margin: 0;
  padding: 10px;
}

.UserApplicationFormHeader h3 {
  color: #e0f7ff;
  margin: 0;
  flex: 1; /* Take up remaining space, centering the h3 */
  text-align: center;
}

.UserApplicationFormApplication {
  max-height: 500px; 
  overflow-y: auto; 
  border: 1px solid #e0f7ff;
  border-radius: 4px;
  background-color: #D6F5FF;
  color: #022C3B;
  font-weight: 500;
}

/* Style for Submit button */

.UserApplicationCloseBtn {
position : relative;
  font-size: 22px;
  color: #e0f7ff;
  cursor: pointer;
}


/* Style for the table */

.search {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.tableContainer {
    width: 100%;
    margin-top: 30px;
    max-height: 480px; /* Set the maximum height as per your requirement */
    overflow-y: auto; /* Add a vertical scroll bar if the content overflows */
}
.table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}
.custom-table .ant-table-thead > tr > th {
  height: 20px; /* Adjust the height as needed */
}